.innerContainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color:floralwhite;
/*   width: 80%;*/
   margin-bottom: 20px;
   padding: 20px 0;
}

.currentPage{
   font-size: 120%;
   font-weight: bold
}