.innerContainer{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color:floralwhite;
   margin-bottom: 20px;
   padding: 20px 0;
}

.currentPage{
   font-size: 120%;
   font-weight: bold;
   color: blue;
}

.pages, .pages:visited{
   cursor: pointer;
   color: blue;
   text-decoration: underline
}